
<ul>
    <li><b>  name: {{name}}</b></li>
    <li>id: {{id}}</li>
    <li>year of publishment: {{year_published}}</li>
    <li>min players: {{min_players}}</li>
    <li>max players: {{max_players}}</li>
    <li>min playtime: {{min_playtime}}</li>
    <li>max playtime: {{max_playtime}}</li>
    <li>description: {{description}}</li> 
</ul>

